<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>
	<p>Splurty was built by <a target="_blank" href="https://github.com/mkeychuang/">Michael</a>. One web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.</p>
	<br/>
	<p>Alone he taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and 'Iolani High School.</p>
	<p>If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>.</p>
	
	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'mchuang.jpg', class: 'img-fluid' %>
		</div>
		<div class="col-12 col-sm-7 offset-sm-1">
			<h2 class="text-center">Michael Chuang</h2>
			<br/>
			<p>Experienced Interactive Art Director with a demonstrated history of working in the entertainment industry. Strong arts and design professional skilled in Graphics, Branding & Identity, Advertising, Typography, and User Interface Design.</p>
		</div>
	</div>
	<br class="clear"/>
	<br/>
	<br/>
	<br/>
	<br/>
</div>